/*=====================================
        GLOBAL SCRIPT LOADER
=====================================*/


const scripts = [


    // =========================
    // CORE
    // =========================

    "assets/js/core/helpers.js",

    "assets/js/core/utilities.js",

    "assets/js/core/loader.js",

    "assets/js/core/animations.js",

    "assets/js/core/observer.js",

    "assets/js/core/scroll.js",

    "assets/js/core/scrollReveal.js",

    "assets/js/core/scrollBar.js",

    "assets/js/core/main.js",



    // =========================
    // AUTH
    // =========================

    "assets/js/auth/storage.js",

    "assets/js/auth/validation.js",

    "assets/js/auth/popup.js",

    "assets/js/auth/passwordToggle.js",

    "assets/js/auth/login.js",

    "assets/js/auth/register.js",

    "assets/js/auth/auth.js",



    // =========================
    // API
    // =========================

    "assets/js/api/auth-api.js",

    "assets/js/api/contact-api.js",

    "assets/js/api/shipment-api.js",

    "assets/js/api/user-api.js",



    // =========================
    // ABOUT
    // =========================

    "assets/js/about/about.js",



    // =========================
    // CONTACT
    // =========================

    "assets/js/contact/contact-form.js",

    "assets/js/contact/contact.js",

    "assets/js/contact/faq.js",

    "assets/js/contact/map.js",

    "assets/js/contact/service-coverage.js",



    // =========================
    // DASHBOARD
    // =========================

    "assets/js/dashboard/analytics.js",

    "assets/js/dashboard/dashboard.js",


];





/*=====================================
        LOAD SCRIPTS
=====================================*/


scripts.forEach(src=>{


    const script =
    document.createElement("script");


    script.src = src;


    script.defer = true;


    document.body.appendChild(script);


});