<!-- ==========================================
                SIDEBAR
========================================== -->

<aside class="sidebar" data-reveal>


    <!-- ==========================================
                    LOGO
    ========================================== -->

    <div class="sidebar-header">

        <a href="../pages/home.html" class="sidebar-logo">

            <img
                src="../assets/logo/WhatsApp_Image_2026-07-14_at_12.22.22_PM-removebg-preview.png"
                alt="IDOKO LEGACY">

            <div class="logo-text">

                <h3>IDOKO</h3>

                <span>LEGACY</span>

            </div>

        </a>

    </div>





    <!-- ==========================================
                    USER
    ========================================== -->

    <div class="sidebar-user">

        <div
            class="sidebar-avatar"
            id="sidebarInitial">

            U

        </div>

        <div class="sidebar-user-info">

            <h4 id="sidebarUsername">

                User

            </h4>

            <span>

                Administrator

            </span>

        </div>

    </div>





    <!-- ==========================================
                    NAVIGATION
    ========================================== -->

    <nav class="sidebar-nav">

        <ul>

            <li>

                <a
                    href="../pages/dashboard.html"
                    class="active">

                    <i class="fa-solid fa-house"></i>

                    <span>Dashboard</span>

                </a>

            </li>



            <li>

                <a href="#">

                    <i class="fa-solid fa-truck-fast"></i>

                    <span>Shipments</span>

                </a>

            </li>



            <li>

                <a href="#">

                    <i class="fa-solid fa-boxes-stacked"></i>

                    <span>Inventory</span>

                </a>

            </li>



            <li>

                <a href="#">

                    <i class="fa-solid fa-hospital"></i>

                    <span>Hospitals</span>

                </a>

            </li>



            <li>

                <a href="#">

                    <i class="fa-solid fa-users"></i>

                    <span>Drivers</span>

                </a>

            </li>



            <li>

                <a href="#">

                    <i class="fa-solid fa-location-dot"></i>

                    <span>Live Tracking</span>

                </a>

            </li>



            <li>

                <a href="#">

                    <i class="fa-solid fa-chart-line"></i>

                    <span>Reports</span>

                </a>

            </li>



            <li>

                <a href="#">

                    <i class="fa-solid fa-gear"></i>

                    <span>Settings</span>

                </a>

            </li>

        </ul>

    </nav>





    <!-- ==========================================
                    FOOTER
    ========================================== -->

    <div class="sidebar-footer">

        <button
            id="logoutBtn"
            class="logout-btn">

            <i class="fa-solid fa-arrow-right-from-bracket"></i>

            <span>

                Logout

            </span>

        </button>

    </div>


</aside>