<!-- ==========================================
                DASHBOARD TOPBAR
========================================== -->

<header class="dashboard-topbar" data-reveal>


    <!-- ==========================================
                    LEFT
    ========================================== -->

    <div class="topbar-left">


        <!-- Mobile Menu -->

        <button
            class="menu-toggle"
            id="menuToggle">

            <i class="fa-solid fa-bars"></i>

        </button>


        <!-- Page Title -->

        <div class="page-title">

            <span class="breadcrumb">

                Dashboard

            </span>

            <h2>

                Healthcare Logistics Dashboard

            </h2>

        </div>


    </div>







    <!-- ==========================================
                    RIGHT
    ========================================== -->

    <div class="topbar-right">



        <!-- SEARCH -->

        <div class="search-box">

            <i class="fa-solid fa-magnifying-glass"></i>

            <input
                type="text"
                placeholder="Search shipments...">

        </div>





        <!-- NOTIFICATIONS -->

        <button class="topbar-btn">

            <i class="fa-regular fa-bell"></i>

            <span class="notification-dot"></span>

        </button>





        <!-- DARK MODE -->

        <button
            class="topbar-btn"
            id="themeToggle">

            <i class="fa-solid fa-moon"></i>

        </button>





        <!-- PROFILE -->

        <div class="profile">



            <button class="profile-card">



                <div
                    class="profile-avatar"
                    id="topbarInitial">

                    U

                </div>



                <div class="profile-info">

                    <h4 id="topbarUsername">

                        User

                    </h4>

                    <span>

                        Administrator

                    </span>

                </div>



                <i class="fa-solid fa-chevron-down"></i>



            </button>





            <!-- DROPDOWN -->

            <div class="profile-dropdown">



                <a href="#">


                    <i class="fa-regular fa-user"></i>

                    My Profile


                </a>





                <a href="#">


                    <i class="fa-solid fa-gear"></i>

                    Settings


                </a>





                <a href="../pages/home.html">


                    <i class="fa-solid fa-house"></i>

                    Home


                </a>





                <a
                    href="#"
                    id="logoutTopbar">


                    <i class="fa-solid fa-arrow-right-from-bracket"></i>

                    Logout


                </a>



            </div>



        </div>



    </div>


</header>