<!-- ==========================================
                TOPBAR
========================================== -->

<header class="dashboard-topbar">


    <!-- ==========================
            LEFT
    =========================== -->

    <div class="topbar-left">


        <div class="page-title">

            <h2>

                Dashboard

            </h2>


            <p>

                Welcome back,
                <span id="topbarUsername">
                    User
                </span>
                👋

            </p>

        </div>


    </div>







    <!-- ==========================
            RIGHT
    =========================== -->

    <div class="topbar-right">



        <!-- SEARCH -->


        <div class="search-box">


            <i class="fa-solid fa-magnifying-glass"></i>


            <input
                type="text"
                placeholder="Search shipments...">


        </div>







        <!-- NOTIFICATIONS -->


        <button class="topbar-icon">


            <i class="fa-regular fa-bell"></i>


            <span class="notification-badge">

                3

            </span>


        </button>








        <!-- DARK MODE -->


        <button
            class="topbar-icon"
            id="dashboardTheme">


            <i class="fa-solid fa-moon"></i>


        </button>








        <!-- PROFILE -->


        <div class="topbar-profile">



            <div
                class="topbar-avatar"
                id="topbarInitial">

                U

            </div>





            <div class="topbar-user">


                <h4 id="topbarName">

                    User

                </h4>


                <span>

                    Administrator

                </span>


            </div>





        </div>




    </div>


</header>