<!-- ==========================================
                WELCOME SECTION
========================================== -->

<section class="welcome-section">


    <!-- LEFT -->

    <div class="welcome-content">

        <span class="welcome-badge">

            <i class="fa-solid fa-heart-pulse"></i>

            Healthcare Logistics Platform

        </span>


        <h1>

            Welcome Back,

            <span id="welcomeUsername">

                User

            </span>

            👋

        </h1>


        <p>

            Manage shipments, monitor deliveries,
            and keep healthcare logistics running
            smoothly from one dashboard.

        </p>


        <div class="welcome-buttons">

            <button class="primary-btn">

                <i class="fa-solid fa-plus"></i>

                Create Shipment

            </button>


            <button class="secondary-btn">

                <i class="fa-solid fa-chart-line"></i>

                View Reports

            </button>

        </div>

    </div>





    <!-- RIGHT -->

    <div class="welcome-image">

        <div class="image-circle"></div>

        <img
            src="../assets/logo/WhatsApp_Image_2026-07-14_at_12.22.22_PM-removebg-preview.png"
            alt="Healthcare">

    </div>


</section>