/*====================================
        TABLET
=====================================*/

@media (min-width:769px) and (max-width:1024px){

    .contact-us-section{

        grid-template-columns:1fr;

        gap:4rem;

        padding:100px 6%;

    }

    .contact-us-info{

        max-width:800px;

        margin:0 auto;

        text-align:center;

    }

    .contact-us-info h2{

        font-size:2.8rem;

    }

    .contact-us-info > p{

        max-width:700px;

        margin:0 auto 2.8rem;

    }

    .contact-info-list{

        grid-template-columns:repeat(2,1fr);

        gap:1.5rem;

    }

    .contact-info-card{

        padding:1.4rem;

    }

    .contact-message-card{

        max-width:800px;

        margin:0 auto;

        padding:2.5rem;

    }

    .contact-input-row{

        grid-template-columns:repeat(2,1fr);

        gap:1.3rem;

    }

    .contact-message-card h3{

        font-size:1.9rem;

    }

}