

/*====================================
        1024px
=====================================*/

@media(max-width:1024px){

    .contact-section{

        grid-template-columns:1fr;

        gap:4rem;

        padding:100px 6%;

    }

    .contact-info h2{

        font-size:2.7rem;

    }

    .contact-form-card{

        padding:2.5rem;

    }

}


/*====================================
        TABLET
=====================================*/

@media(max-width:768px){

    .contact-section{

        padding:90px 6%;

        gap:3rem;

    }

    .contact-info h2{

        font-size:2.3rem;

    }

    .input-row{

        grid-template-columns:1fr;

    }

    .contact-form-card{

        padding:2rem;

    }

}
