:root{

    --sidebar-top:#0d2847;
    --sidebar-bottom:#104b73;

    --background:#15395c;

    --surface:#1b4b73;

    --surface-hover:#215a89;

    --primary:#39b8ff;

    --text:#ffffff;

    --text-light:#c4d4e4;

    --border:rgba(255,255,255,.08);

}