@media (max-width:1100px){

    .header{

        width:96%;

        padding:0 22px;

    }

    .header__desktop{

        display:none;

    }

    .header__mobile{

        display:flex;

    }

}

@media (max-width:650px){

    .header{

        height:74px;

        top:10px;

        border-radius:18px;

    }

    .header__logo img{

        width:48px;

        height:48px;

    }

    .logo-text h2{

        font-size:1rem;

    }

    .logo-text span{

        display:none;

    }

    .mobile-panel{

        width:100%;

        max-width:100%;

        top:90px;

        right:-100%;

        border-radius:25px 25px 0 0;

        height:calc(100vh - 90px);

    }

}