<!--=========================================
        AUTH COMPONENT
=========================================-->


<div class="auth-container">


    <!--=====================================
            LEFT FORM SIDE
    ======================================-->

    <div class="form-container">


        <!-- LOGIN FORM -->

        <form 
            id="loginForm"
            class="auth-form login-form active">


            <div class="form-header">

                <h2>
                    Welcome Back
                </h2>

                <p>
                    Login to continue your account.
                </p>

            </div>



            <!-- EMAIL -->

            <div class="input-box">

                <i class="fa-solid fa-envelope"></i>


                <input

                    type="email"

                    id="loginEmail"

                    placeholder="Email address"

                    autocomplete="email"

                >

            </div>




            <!-- PASSWORD -->

            <div class="input-box">


                <i class="fa-solid fa-lock"></i>



                <input

                    type="password"

                    id="loginPassword"

                    placeholder="Password"

                    autocomplete="current-password"

                >



                <button

                    type="button"

                    class="toggle-password"

                    aria-label="Show password"

                >

                    <i class="fa-solid fa-eye"></i>


                </button>


            </div>




            <a 
                href="#"
                class="forgot-password">

                Forgot password?

            </a>




            <button

                type="submit"

                class="btn-primary">

                Login

            </button>




            <div class="or">

                <span>
                    OR
                </span>

            </div>




            <div class="social-icons">


                <a href="#">

                    <i class="fa-brands fa-google"></i>

                </a>


                <a href="#">

                    <i class="fa-brands fa-facebook"></i>

                </a>


                <a href="#">

                    <i class="fa-brands fa-github"></i>

                </a>


            </div>




            <p class="switch-text">

                Don't have an account?

                <a 
                    href="#"
                    id="showRegister">

                    Create Account

                </a>

            </p>



        </form>









        <!-- REGISTER FORM -->

        <form

            id="registerForm"

            class="auth-form register-form">



            <div class="form-header">


                <h2>

                    Create Account

                </h2>


                <p>

                    Join IDOKO LEGACY today.

                </p>


            </div>





            <!-- NAME -->

            <div class="input-box">


                <i class="fa-solid fa-user"></i>



                <input

                    type="text"

                    id="registerName"

                    placeholder="Full name"

                >


            </div>





            <!-- EMAIL -->

            <div class="input-box">


                <i class="fa-solid fa-envelope"></i>



                <input

                    type="email"

                    id="registerEmail"

                    placeholder="Email address"

                >


            </div>





            <!-- PASSWORD -->

            <div class="input-box">


                <i class="fa-solid fa-lock"></i>



                <input

                    type="password"

                    id="registerPassword"

                    placeholder="Password"

                >



                <button

                    type="button"

                    class="toggle-password"

                    aria-label="Show password"

                >

                    <i class="fa-solid fa-eye"></i>


                </button>


            </div>






            <!-- CONFIRM PASSWORD -->

            <div class="input-box">


                <i class="fa-solid fa-lock"></i>



                <input

                    type="password"

                    id="confirmPassword"

                    placeholder="Confirm password"

                >



                <button

                    type="button"

                    class="toggle-password"

                    aria-label="Show password"

                >

                    <i class="fa-solid fa-eye"></i>


                </button>


            </div>






            <button

                type="submit"

                class="btn-primary">


                Create Account


            </button>





            <p class="switch-text">


                Already have an account?


                <a

                    href="#"

                    id="showLogin">


                    Login


                </a>


            </p>



        </form>




    </div>








    <!--=====================================
            RIGHT PANEL
    ======================================-->

    <div class="auth-panel">



        <!-- LOGIN PANEL -->


        <div class="panel login-panel">



            <div class="panel-logo">


                <img

                    src="/assets/logo/download.webp"

                    alt="IDOKO LEGACY">


            </div>




            <h2>

                Welcome Back

            </h2>



            <p>

                Manage healthcare logistics
                with confidence and reliability.

            </p>




            <button

                class="panel-btn"

                id="showRegister">


                Create Account


            </button>



        </div>








        <!-- REGISTER PANEL -->


        <div class="panel register-panel">



            <div class="panel-logo">


                <img

                    src="/assets/logo/download.webp"

                    alt="IDOKO LEGACY">


            </div>




            <h2>

                Join Us

            </h2>



            <p>

                Create your account and start
                managing your logistics.

            </p>




            <button

                class="panel-btn"

                id="showLogin">


                Login


            </button>



        </div>




        <div class="circle-1"></div>

        <div class="circle-2"></div>

        <div class="circle-3"></div>



    </div>



</div>





<!--=====================================
            POPUP
======================================-->


<div 
    class="auth-popup"
    id="authPopup">


    <div class="popup-icon">

        <i class="fa-solid fa-check"></i>

    </div>



    <div class="popup-content">


        <h4 id="popupTitle">

            Success

        </h4>



        <p id="popupMessage">

            Message

        </p>


    </div>


</div>