/* ==========================================
   RESPONSIVE
========================================== */

@media (max-width:1200px){

    .auth-container{

        max-width:1100px;

    }

    .form-container{

        padding:55px;

    }

    .panel{

        padding:45px;

    }

    .panel h2{

        font-size:3.2rem;

    }

}

@media (max-width:992px){

    .auth-container{

        grid-template-columns:1fr;

        min-height:auto;

    }

    .auth-panel{

        display:none;

    }

    .form-container{

        padding:50px 35px;

    }

    .auth-form{

        max-width:100%;

    }

}

@media (max-width:768px){

    .auth{

        padding:20px;

    }

    .auth-container{

        border-radius:25px;

    }

    .form-container{

        padding:40px 25px;

    }

    .auth-form h2{

        font-size:2.6rem;

    }

    .auth-form p{

        font-size:1rem;

    }

    .input-box{

        height:64px;

    }

    .btn-primary{

        height:62px;

        font-size:18px;

    }

    .social-icons{

        gap:15px;

    }

    .social-icons a{

        width:54px;

        height:54px;

        font-size:20px;

    }

}